<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VirtualHub - Tienda</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<header class="navbar">
	    <div class="logo">VirtualHub</div>

	    <div class="user-info">
	        <span th:text="${usuario.nombre}"></span>

	        <span class="saldo">
	            S/ <span th:text="${#numbers.formatDecimal(usuario.saldo, 1, 2)}"></span>
	        </span>

	        <a th:href="@{/biblioteca}" class="btn-nav">Biblioteca</a>

	        <!-- NUEVO BOTÓN CARRITO -->
	        <a th:href="@{/carrito}" class="btn-nav">Carrito</a>

	        <form th:action="@{/logout}" method="post" style="display:inline;">
	            <button type="submit" class="btn-logout">Cerrar sesión</button>
	        </form>
	    </div>
	</header>

<main class="store-container">

    <h2 class="section-title">Tienda</h2>

    <div class="games-grid">

        <div class="game-card" th:each="juego : ${juegos}">

            <img th:src="@{${juego.coverUrl}}" class="game-image">

            <div class="game-info">
                <h3 th:text="${juego.titulo}"></h3>

                <p th:text="${juego.descripcion}"></p>

                <div class="price">
                    S/ <span th:text="${juego.precio}"></span>
                </div>

                <div th:if="${juegosComprados.contains(juego.id)}">
                    <button class="btn-disabled" disabled>
                        Ya lo tienes
                    </button>
                </div>

				<div th:unless="${juegosComprados.contains(juego.id)}">
					<form th:action="@{'/carrito/agregar/' + ${juego.id}}" method="post">
					    <button class="btn-comprar" type="submit">
					        Agregar al carrito
					    </button>
					</form>
				</div>
            </div>
        </div>
    </div>
</main>

</body>
</html>